.footer-area {
  background-image: url(../../../images/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-area {
  padding-bottom: 10px;
}
ul {
  padding: 0 !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important ;
}
.social-media li {
  height: 40px;
  width: 40px;
  color: #1cc7ca;
  border-radius: 50%;
  border: 1px solid #6acece;
  text-align: center;
  line-height: 40px;
}

.social-media li:hover {
  background-color: #6acece;
}
.social-media li:hover a {
  color: #fff;
}
