* {
  scroll-behavior: smooth;
}
.text-brand {
  color: #1cc7c1;
}
.btn-brand {
  background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.homeNav .navbar-nav .nav-link.homeNavBlack {
  color: #fff;
}
.login-btn {
  margin-right: 3rem;
  padding: 0.5rem 1rem !important;
  background-color: #fff;
  color: #000;
  display: block;
  border-radius: 31px;
}
.login-btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s all;
}
